body{
    margin: 30px;
}

#loginCard{
    
    text-align: center;
}

.btnCustom{
    background-color: black;
}

#SchlTitle
{
	font-size : 50px;
	font-family : Monotype Corsiva;
	color : green;
}

#SchlTitle2
{
	font-size : 20px;
	font-family : Georgia;
	color : green;
	font-weight : 600;
}

#SchlTitle3
{
	font-size : 20px;
	font-family : Georgia;
	color : green;
	font-weight : 100;
}

#SchlTitle4
{
	font-size : 20px;
	font-family : Bookman Old;
	color : green;
	font-weight : 600;
}

#SchlTitle5
{
	font-size : 20px;
	font-family : Cambria;
	color : darkblue;
	font-weight : 100;
}

#SchlTitle6
{
	font-size : 25px;
	font-family : Segoe UI;
	color : black;
	font-weight : 100;
	margin-top: 10px;
	font-style: italic;
}